<?xml version="1.0"?>



<launch>

	<include file="$(find final_assignment)/launch/bug0.launch"></include>


	<arg name="des_x" default= "-4"/>
	<arg name="des_y" default= "-3"/>
	<arg name="state" default= "4"/>
        <arg name="bool_check" default= "1"/>


	<param name="des_pos_x" value="$(arg des_x)" />
	<param name="des_pos_y" value="$(arg des_y)" />
	<param name="state" value="$(arg state)" />
        <param name="bool_check" value="$(arg bool_check)" />



	<node pkg="final_assignment" type="wall_follow_service_m.py" name="wall_follow_service"/> 
	<node pkg="final_assignment" type="random_srv.py" name="random_srv" /> 
	<node pkg="final_assignment" type="ui.py" name="ui" output="screen" />
	<node pkg="final_assignment" type="master_node.py" name="master_node" output="screen"/>
</launch>
